#main {
  font-size: 23px;
  font-family: Roboto, Arial, Helvetica, serif;
  line-height: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
#title {
  font-size: 50px;
  line-height: .1;
}
#description {
  color: blue;
}
#survey-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  
  border: 1px solid #ccc;
  border-radius: 4px;

}
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
#group{
  border: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 2px;
  padding: 50px;
  width: 60%;
}
#group:hover{
  border-color: grey;
  transition: .1s;
}
#text {
  width: 70%;
}
#submit{
    width: 90px;
    height: 40px;
    font-size: 19px;
    border-radius: 10px;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    cursor: pointer;
}
#submit:hover {
    box-shadow: 0 6px 20px -5px rgba(0,0,0,2.4);
    /*curser: pointer;*/
    transition: .1s;
}