.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  font-size: 23px;
  font-family: Roboto, Arial, Helvetica, serif;
  line-height: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
#title {
  font-size: 50px;
  line-height: .1;
}
#description {
  color: blue;
}
#survey-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#group{
  border: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 2px;
  padding: 50px;
  width: 60%;
}
#group:hover{
  border-color: grey;
  transition: .1s;
}
#text {
  width: 70%;
}
#submit{
    width: 90px;
    height: 40px;
    font-size: 19px;
    border-radius: 10px;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    cursor: pointer;
}
#submit:hover {
    box-shadow: 0 6px 20px -5px rgba(0,0,0,2.4);
    curser: pointer;
    transition: .1s;
}